.wrapper{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .fb-form {
    box-sizing: border-box;
    margin: 10px;
    height: 300px;
    width: 400px;

    .version{
      text-align: right;
      margin-top: 5px;
      font-style:italic;
      color: gray;
    }

  }

}
